<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.wireless.angel.dao.CityMapper">
    <resultMap id="resultMap" type="CityDO">
        <id property="id" column="ID" jdbcType="INTEGER" javaType="long"/>
        <result property="name" column="Name"/>
        <result property="countryCode" column="CountryCode"/>
        <result property="district" column="District"/>
        <result property="population" column="Population"/>
    </resultMap>

    <select id="getCityById" parameterType="long" resultMap="resultMap">
            SELECT * from city WHERE ID=#{value}
    </select>

    <select id="getCityByName" parameterType="map" resultMap="resultMap">
         SELECT * from city WHERE Name=#{name}
    </select>


</mapper>
