<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<!-- 支持注解 配置了此项 就可以不用set方法了 -->
	<context:annotation-config />
	<context:component-scan base-package="com.tmall.**.beans"/>
	<!-- 支持placeholder -->
	<!-- <context:property-override location="classpath:xx.properties"/>
	<context:property-placeholder  location="classpath:xx.properties"/> -->
	
	
	<!-- <bean id="weatherManager" class="com.tmall.wireless.springbasic.beans.WeatherManager"></bean>
	<bean id="weatherInterface" class="com.tmall.wireless.springbasic.beans.WeatherInterfaceImpl"></bean>
	<bean id="weatherService" class="com.tmall.wireless.springbasic.beans.WeatherService"></bean>

	<bean id="weatherInfoDO" class="com.tmall.wireless.springbasic.beans.WeatherInfoDO">
		<constructor-arg value="杭州" />
		<constructor-arg value="阴" />
		<constructor-arg>
			<value>10</value>
		</constructor-arg>
	</bean> -->
	
	
</beans>