<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	default-autowire="byName"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<!-- 开启注解注入 -->
	<context:annotation-config/>
	<!-- 开启包扫描 -->
	
	
	<!-- <bean id="messageProvider" class="com.tmall.wireless.angel.impl.HelloWorldMessageProvider"></bean>

	<bean id="messageRender" class="com.tmall.wireless.angel.impl.StandardOutMessageRender"/> -->
		
	<aop:config>
		<aop:pointcut expression="execution(* com.tmall.wireless.angel..*.render*(..))" id="render" />
		<aop:aspect ref="customAdvice">
			<aop:before pointcut-ref="render" method="beforeAdvice"/>
			<aop:around method="aroundAdvice" pointcut-ref="render"/>
				
		</aop:aspect>
		
	</aop:config>
	
	<bean class="com.tmall.wireless.angel.aop.CustomAdvice" id="customAdvice"></bean>
</beans>
